.preloader
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../img/loader.gif') 50% 50% no-repeat rgb(217, 217, 217);
    opacity: .8;
}