.mab-jquery-taginput input {
    border: solid 1px #fff !important;
    outline: none !important;
    width: 6em !important;
    height: 35px !important;
    padding: 1px 0 !important;
    font-size: 14px !important;
    line-height: 1.21 !important;
    vertical-align: top !important;
    margin-bottom: 15px !important;
}

.mab-jquery-taginput input.h {
    width: 1px !important;
}

.mab-jquery-taginput input:-moz-placeholder {
    color: #999999 !important;
}

.mab-jquery-taginput input::-moz-placeholder {
    color: #999999 !important;
    opacity: 1 !important;
}

.mab-jquery-taginput input:-ms-input-placeholder {
    color: #999999 !important;
}

.mab-jquery-taginput input::-webkit-input-placeholder {
    color: #999999 !important;
}

.mab-jquery-taginput input::-ms-clear {
    display: none !important;
}

.mab-jquery-taginput.form-control {
    height: auto !important;
    padding-bottom: 0 !important;
}

.mab-jquery-taginput .label {
    font-size: 1em !important;
    padding-right: 0.5em !important;
    margin-right: 5px !important;
    display: inline-block !important;
    margin-bottom: 6px !important;
}

.mab-jquery-taginput a {
    text-decoration: none !important;
    color: #fff !important;
}

.mab-jquery-taginput .glyphicon {
    font-size: 0.85em !important;
    vertical-align: -1px !important;
    cursor: pointer !important;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
}

.tt-hint {
    color: #999 !important;
}

.tt-menu {
    min-width: 160px !important;
    padding: 5px 0 !important;
    margin: 2px 0 0 !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
    border-radius: 6px !important;
    background-clip: padding-box !important;
}

.tt-suggestion {
    margin: 0 !important;
    padding: 3px 20px !important;
    line-height: 20px !important;
    clear: both !important;
    white-space: nowrap !important;
}

.tt-suggestion.tt-cursor {
    color: #fff !important;
    background-color: #428bca !important;
}
