img {
    object-position: top;
}

.custom_label {
    padding: 4px 10px;
    border-radius: 3px;
    background-color: #9a9fbf;
    color: #fff;
    display: inline-block;
    margin-right: 3px;
}

.back-to-top .back-icon {
    height: 20px;
    width: 20px;
    margin-top: 13px;
}

.custom_label > .remove_tag {
    margin-top: 2px;
}

.w-last-photo img {
    height: 400px;
}

.play-video svg {
    margin-top: 17px;
    margin-left: 8px;
}

.back-icon {
    margin-top: 15px;
}

.mfp-arrow {
    display: none !important;
}

.post-block-photo img {
    object-fit: cover;
    height: 250px;
}

.custom {
    object-fit: cover;
    /*width: 32%;*/
    height: 250px;
    display: -webkit-inline-box;
}

.mfp-wrap.mfp-close-btn-in.mfp-auto-cursor.mfp-fade.mfp-ready {
    top: 10% !important;
}

.post-block-photo a, .post-block-photo span, .post-block-photo div {
    padding: 0 !important;
}

@media screen and (max-width: 960px) {
    .post-block-photo img, .post-block-photo .custom {
        width: 49% !important;
        height: 220px;

    }

    .post-block-photo > a {
        display: contents;
        align-items: center;
    }

    .custom{
        float: left;
    }

    .custom img {
        width: 100% !important;
        height: 100% !important;
    }

    .play-video svg {
        margin-right: 2px !important;
    }
}

@media screen and (max-width: 768px) {
    .post-block-photo img, .post-block-photo .custom {
        width: 49% !important;
        height: 180px;

    }

    .post-block-photo > a {
        display: contents;
        align-items: center;
    }

    .custom{
        float: left;
    }

    .custom img {
        width: 100% !important;
        height: 100% !important;
    }

    .play-video svg {
        margin-right: 2px !important;
    }
}

@media screen and (max-width: 450px) {
    .post-block-photo img, .post-block-photo .custom {
        width: 49% !important;
        height: 120px;

    }

    .post-block-photo > a {
        display: contents;
        align-items: center;
    }

    .custom{
        float: left;
    }

    .custom img {
        width: 100% !important;
        height: 100% !important;
    }

    .play-video svg {
        margin-right: 0 !important;
    }
}