.post-block-photo img, .post-block-photo .custom {
    object-fit: cover;
    height: 120px !important;
}

.post-block-photo .custom {
    width: 33%;
}

.is-liked-sm {
    fill: #ff5e3a !important;
    color: #ff5e3a !important;
}

.is-liked-lg {
    background-color: #ff5e3a !important;
}

.featured_post {
    background-color: #ffc923 !important;
}

.play-video svg {
    margin-top: 17px;
    margin-left: 8px;
}

.post-block-photo .custom {
    display: -webkit-inline-box;
}

@media screen  and(max-width: 600px){
    .post-block-photo .custom {
        width: 100%;
    }
}